@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .textbox {
    word-spacing: 1px;
  }

  .cgray {
    color: #333;
  }
  .navupper {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 1px 1px;
    position: relative;
  }
  .navupper:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .navupper:hover:after {
    width: 100%;
    left: 0;
  }
}
