@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html {
    scroll-behavior: smooth;
  }

  .btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border-radius: 0.6em;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-self: center;
    item-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 0.9rem 2rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }

  @media (max-width: 768px) {
    .btn,
    .btnmore {
      padding: 0.6rem 1.5rem;
    }
  }

  .btn:hover,
  .btn:focus {
    color: #fff;
    outline: 0;
  }

  .anim {
    border-color: #fff;
    border-radius: 0;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;
  }
  .anim:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #fff;
    z-index: -1;
    transition: width 150ms ease-in-out;
  }
  .anim:hover {
    color: #1f3855;
  }
  .anim:hover:after {
    width: 110%;
  }

  .btnmore {
    box-sizing: border-box;
    appearance: none;
    background-color: #1f3855;
    text-shadow: 0px 0.3px #1f3855;
    border-radius: 0.6em;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-self: center;
    item-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 1.3rem 4rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }

  .btnmore:hover,
  .btnmore:focus {
    color: #fff;
    outline: 0;
  }

  .animmore {
    border-color: #1f3855;
    border-radius: 0;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;
  }
  .animmore:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #eee;
    z-index: -1;
    transition: width 150ms ease-in-out;
  }
  .animmore:hover {
    color: #1f3855;
  }
  .animmore:hover:after {
    width: 110%;
  }

  .textbox {
    word-spacing: 1px;
  }
  .cgray {
    color: #333;
  }

  .bcgray {
    background-color: #eee;
  }

  .c5003 {
    color: #1f3855;
  }

  .bc5003 {
    background-color: #1f3855;
  }

  .bc5011 {
    background-color: #1a2b3c;
  }

  .buttoninput {
    background-color: #1f3855;
  }

  .buttoninput:hover {
    background-color: #1a2b3c;
  }

  .navupper {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 1px 1px;
    position: relative;
  }
  .navupper:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .navupper:hover:after {
    width: 100%;
    left: 0;
  }
}
